.chart-wrapper{
    height:30px;
}

.card-body .text-light{
    margin-right: 15px;
}

.card-body span.metric-number{
    margin-right: 15px;
    margin-left: 5px;
}

.modal .fade .show{
    display: block;
}

.breadcrumbs button{
    margin:15px;
}
.form-control{
    border: none;
    border-bottom: 2px solid white;
    color: white;
    background-color: initial;
    border-radius: .0rem;
}