<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="scss/style.css">
    <link href="css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

   <!-- Angular -->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <!--<script type="text/javascript" src="js/lib/angular/angular.js"></script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>

    <!-- Customization css -->
    <link rel="stylesheet" href="css/custom-app.css">
</head>
<body>


<!-- Left Panel -->

<aside id="left-panel" ng-app="menuApp" ng-controller="menuController" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/sign/index.html"><img src="../images/logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="/sign/index.html"><img src="img/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <h3 class="menu-title">QUESTIONS</h3><!-- /.menu-title -->
                <li ng-repeat="group in groupList" class="menu-item">
                    <a href="#"> <i class="menu-icon fa fa-laptop"></i>{{group.name}}</a>
                </li>


                <h3 class="menu-title">ACCOUNT</h3><!-- /.menu-title -->

                <li class="menu-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-tasks"></i>Details</a>
                </li>

                <h3 class="menu-title">CONTRIBUTE</h3><!-- /.menu-title -->

                <li class="menu-item">
                    <a href="#" class="dropdown-toggle" ng-click="displayContributeForm()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-paypal"></i>Donate</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="img/admin.jpg" alt="Logged as">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                        <i class="flag-icon flag-icon-us"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="language" >
                        <div class="dropdown-item">
                            <span class="flag-icon flag-icon-fr"></span>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-es"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-us"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-it"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="page-title float-right">
                <button id="add-snippet" type="button" class="btn btn-primary">Add new question</button>
            </div>
        </div>
    </div>

    <!--<div id="main-central-panel" class="content mt-3">-->
    <div id="snippetPanel" ng-app="snippetApp" ng-controller="snippetController" class="content mt-3">
        <!-- LIST OF ALL SNIPPETS -->
        <div class="snippetList" ng-repeat="snippet in snippetList">
                <div class="col-sm-6 col-lg-12">
                    <div class="card text-white bg-flat-color-1">
                        <div id="card-body-1" class="card-body pb-0" ng-click="selectSnippet(snippet)">
                            <div class="row form-group">
                                <div class="col-11">
                                    <h4 class="mb-0">
                                        <!--ng-click="addTextAreaToEditText($event,snippet.note)" -->
                                        <input type="text" name="text-input" ng-keypress="saveNoteSnippet($event)" value="{{snippet.note}}" placeholder="Text" class="form-control">
                                        </input>
                                    </h4>
                                </div>
                                <div class="col-1">
                                    <div class="dropdown float-right">
                                        <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown">
                                            <i class="fa fa-cog"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="dropdown-menu-content">
                                                <a class="dropdown-item htmlsnippet" data-toggle="modal" data-target="#displayHtmlModal" ng-click="displayHtmlSnippet(snippet.id)" data={{snippet.id}} href="#">HTML Snippet</a>
                                                <a class="dropdown-item delete" href="#" ng-click="deleteSnippet(snippet.id)">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-7">
                                    <input type="text" name="text-input" ng-keypress="saveDataSnippet($event)" value="{{snippet.data}}" placeholder="Text" class="form-control">
                                </div>
                                <div class="col-2">
                                    <i class="fa fa-check-circle"></i>
                                    <span class="metric-number">{{snippet.yesAnswers}}</span>
                                    <i class="fa fa-meh-o"></i>
                                    <span class="metric-number">{{snippet.neutralAnswers}}</span>
                                    <i class="fa fa-times-circle"></i>
                                    <span class="metric-number">{{snippet.noAnswers}}</span>

                                </div>
                                <div class="col-1" ng-if="snippet.confirmed" >
                                    <i style="font-size:48px;color:green" class="fa fa-check-square"></i>
                                </div>
                                <div class="col-2" ng-if="snippet.confirmed">
                                    <div><span>{{snippet.sourceSite}}</span></div>
                                    <span>Last viewed: {{snippet.lastRenderedDate}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        <!-- HTML MODAL -->
        <div class="modal fade" id="displayHtmlModal" tabIndex="-1" role="dialog"
             aria-labelledby="mediumModalLabel" aria-hidden="true" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mediumModalLabel">Add this HTML to your page</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            {{selectedHtmlSnippet.html}}
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                        </button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div>
                </div>
            </div>
        </div>


    </div> <!-- .content -->

</div><!-- /#right-panel -->


</div>

<!-- Angular application code -->
<script type="text/javascript" src="js/ang-module-menu.js"></script>
<script type="text/javascript" src="js/ang-module-snippet.js"></script>


<!-- Right Panel -->
<script src="js/vendor/popper.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>


<script src="js/lib/chart-js/Chart.bundle.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/widgets.js"></script>
<script src="js/lib/vector-map/jquery.vmap.js"></script>
<script src="js/lib/vector-map/jquery.vmap.min.js"></script>
<script src="js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="js/lib/vector-map/country/jquery.vmap.world.js"></script>
<script>
    ( function ( $ ) {
        "use strict";

        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    // window.dataLayer = window.dataLayer || [];
    // function gtag(){dataLayer.push(arguments);}
    // gtag('js', new Date());
    //
    // gtag('config', 'UA-23581568-13');
</script>
</body>
</html>
