<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test MVC</title>
    <!--<link rel="stylesheet" type="text/css" href="css/custom-app.css">-->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
   </head>
<body>

    <div id="root" >
        <div class="feedback-wrapper" style="">
           <!--<iframe src="http://localhost:8089/snippet-hello.html" name="feedback_iframe_a" frameBorder="0"  height="70px"-->
                   <!--width="160px" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); align-content: center"></iframe>-->
            <div id="feedback-panel" style="height:70px">
                <button style="margin: 9% 8%" type="button" className="btn btn-success">Give feedback</button>
            </div>
        </div>
    </div>

</body>
</html>