<div class="snippetList col-sm-6 col-lg-12">
    <div class="card text-white bg-flat-color-1">
        <div id="card-body-1" class="card-body pb-0">
            <input type="text" id="new-snippet-note" placeholder="Enter some text to help you rememeber where you embbed you question" class="form-control">
            <input type="text" id="new-snippet-question" placeholder="Enter the question you would like to diplay in your website" class="form-control">
            <div class="card-footer">
                <button id="confirm-add-snippet" type="button" class="btn btn-success">Save</button>
            </div>
            <div class="chart-wrapper px-0" height="70"/>
        </div>
    </div>
</div>